body {
    padding: 0;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    overflow: scroll;
}

canvas:not(#map) {
    background-color: transparent;
}

#ui, #largeMap {
    position: fixed;
}

#largeMap {
	background-color: black!important;
    z-index: 100;
    display: none;
}

::-webkit-scrollbar {
    display: none;
}
